<template name="postSubmit">
    <form class="main form page">
        <div class="form-group">
            <label for="url" class="control-label">URL</label>
            <div class="controls">
                <input type="text" class="form-control" name="url" id="url" value="" placeholder="e.g. http://pornhub.com"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <div class="controls">
                <input type="text" class="form-control" name="title" id="title" value="" placeholder="Give this fucking post a name..."/>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</template>